#search .dropdown-menu, #search2 .dropdown-menu{
    width: 101%;
    padding: 0;
    margin: 0;
}
#content input[name='search'] + .dropdown-menu, #content input[name='search2'] + .dropdown-menu{
    width: 90%;
}

ul.dropdown-menu li{
    border: 1px solid #E4E4E4;
    border-top: none;
    display: flex;
    width: 100%;
    background-color: #fff;
    text-align: left;
}
ul.dropdown-menu li a.kep{
    padding-right: 6px;
}
ul.dropdown-menu li a{
    color: #3F3F3F;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 2px 2px 5px;
    font-size: 13px;
    white-space: normal;
    text-align: left;
}
ul.dropdown-menu li:hover{
    background-color: #F5F5F5;
}
ul.dropdown-menu li a.szoveg {
    width: 100%;
    padding-right: 5px;
    text-decoration: initial;
}
ul.dropdown-menu li a.kep img {
    max-width: 30px;
}
ul.dropdown-menu li a.szoveg .product_name {
    font-size: 16px;
    text-shadow: 0px 0px 1px #BABABA;
}
ul.dropdown-menu li a.szoveg .model {
    font-size: 11px;
    text-align: right;
}