/* MegaMenu
------------------*/	

#menu {
	position: relative;
	overflow: visible;
}

	#menu .background-menu {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	
	#megaMenuToggle {
		display: none;
	}
	
	.container-megamenu, 
	.container-megamenu .container {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	
		.container-megamenu .container {
			width: auto;
		}
	
	.megamenu-wrapper {
		background: #000000;
		display: inline-block;
		width: 100%;
		margin-bottom: 7px;
	}
	
	.main-fixed .megamenu-wrapper .container { padding-left: 0px; padding-right: 0px;}
	
	.standard-body .megamenu-wrapper {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	
	.megamenu-wrapper  .menu-holder{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.menu-bottom{
		padding-left: 0px;
		padding-right: 0px;
		border-bottom: 1px solid #e7e7e7;
		clear: both;
		margin-bottom: 20px;
	}
	
	.megamenu-pattern {
		
	}
	
		ul.megamenu {
			margin: 0px;
			padding: 0px;
			list-style: none;
			position: relative;
			z-index: 999;
		}
			
			ul.megamenu > li {
				float: left;
				width: auto;
				
			}
			
				ul.megamenu > li.pull-right {
					float: right;
					margin-right: 0px;
					margin-left: 20px;
				}
				
				ul.megamenu > li .close-menu {
					display: none;
				}
	
				ul.megamenu > li > a {
					display: block;
					position: relative;
					font-size: 13px;
					padding-top: 17px;
					padding-bottom: 17px;
					font-weight: normal;
					color: #FFFFFF;
					padding-left: 20px;
					padding-right: 20px;
					text-transform: uppercase;
					font-family: 'Roboto Condensed', sans-serif;
				}
				
				ul.megamenu > li:hover {
						color: #ffffff;
						background: #d63131;
				}
				
				ul.megamenu > li:hover a {
						color: #ffffff;
				}
				
					ul.megamenu > li.pull-right > a {
						margin-right: 0px;
						margin-left: 34px;
					}

					ul.megamenu > li > a strong {
						font-weight: normal;
					}
				
					ul.megamenu > li > a:hover, 
					ul.megamenu > li.active > a, 
					ul.megamenu > li.home > a, 
					ul.megamenu > li:hover > a {
						color: #ffffff;
					}
					
					
					
					ul.megamenu > li > a > .icon-home {
						display: block;
						font-size: 23px;
					}
					
					ul.megamenu > li > a img {
						margin-right: 10px;
						height: 28px;
						vertical-align: middle;
					}
					
					ul.megamenu > li > a.description {
						font-size: 14px;
						padding: 17px 0px 11px 0px;
						line-height: 1;
						text-transform: none;
						padding-left: 15px;
						padding-right: 15px;
					}
					
						ul.megamenu > li > a.description img {
							float: left;
						}
					
						ul.megamenu > li > a.description .description {
							font-size: 11px;
							opacity: 0.9;
						}
						
						ul.megamenu > li > a.description .description-left {
							float: left;
							width: auto;
						}
					
					/* Submenu */
					
					ul.megamenu > li > .sub-menu {
						position: absolute;
						z-index: 9999;
						display: none;
						color: #737474;
					}
					
					
						.horizontal ul.megamenu > li > .sub-menu {
							max-width: 100%;
							z-index: 9999;
						}
						
						ul.megamenu li .sub-menu .content {
							z-index: 999;
							padding: 20px;
							background: #FFFFFF;
							box-sizing: content-box !important;
							-moz-box-sizing: content-box !important;
							-webkit-box-sizing: content-box !important;
							position: relative;
							border: 1px solid #f1f1f1;
							z-index: 9999;
						}
						ul.megamenu li .sub-menu .content a{
							color: #666666;
							line-height: 24px;
							font-size: 12px;
						}
							ul.megamenu li .sub-menu .content a:hover{
								color: #000000;
							}
						
							ul.megamenu .sub-menu .content > .row {
								padding-top: 20px;
							}
							
							ul.megamenu .sub-menu .content > .border {
								margin-bottom: 20px;
							}
							
								ul.megamenu .sub-menu .content > .row:first-child {
									padding: 0px;
								}
							
							/* Product */
							
							ul.megamenu li .product {
								text-align: center;
								position: relative;
								background: #fff!important;
							}
								
								ul.megamenu li .product .image {
									padding: 0px;
								}
								ul.megamenu li .product .image  img{
								    height: auto;
									max-width: 100%;
								}
								ul.megamenu li .product .image a{
									font-size: 0px;
								}
							
								ul.megamenu li .product .name {
									padding: 7px 0px 0px 0px;
									background: #fff!important;
								}
								

								ul.megamenu li .product .name a {
										color: #53565a;
										font-size: 14px;
										background: #fff!important;
									}
									
									ul.megamenu li .product .name a:hover {
										color: #bababa;
									}
								
								ul.megamenu li .product .price {
									color: #bababa;
									font-size: 15px;
									font-family: 'Roboto', sans-serif;
								}
								
							/* Manufacturer */
							
							ul.manufacturer {
								list-style: none;
								margin: -10px 0px 0px 0px;
								padding: 0px;
								position: relative;
								
							}
							
								ul.manufacturer li {
									display: inline-block;
									margin: 10px 5px 0px 0px;
								}
								
									ul.manufacturer li a {
										display: block;
										font-size: 12px;
										padding: 2px 15px;
										border: 1px solid #efefef;
										background: #FFFFFF;
										color: #666666;
									}
									
										ul.manufacturer li a:hover {
											color: #bababa;
											border: 1px solid #bababa;
										}
							
							/* Static Menu */
							
							ul.megamenu li .sub-menu .content .static-menu a.main-menu {
								display: block;
								font-size: 12px;
								color: #666666;
							}
							
							ul.megamenu li .sub-menu .content .static-menu a.main-menu:hover {
								color: #bababa;
							}
							
							ul.megamenu li .sub-menu .content .static-menu .menu ul {
								list-style: none;
								margin: 0px;
								padding: 5px 0px;
							}
							
								ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li {
									padding-top: 7px;
								}
								
									ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li:first-child {
										padding-top: 0px;
									}
							
								ul.megamenu li .sub-menu .content .static-menu .menu ul ul {
									padding: 5px 10px;
								}
							
									ul.megamenu li .sub-menu .content .static-menu .menu ul ul li:before {
										padding-right: 0px;
									}
									
							/* Hover Menu */
							
							ul.megamenu li .sub-menu .content .hover-menu a.main-menu {
								display: block;
							}
							
							ul.megamenu li .sub-menu .content .hover-menu .menu ul {
								list-style: none;
								margin: -20px -20px -20px -20px;
								padding: 0px;
								position: relative;
							}
							
								ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
									display: none;
									margin: -41px 0px 0px -10px;
									width: 200px;
									position: absolute;
									z-index: 999;
									left: 100%;
									background: #fff;
									border: 1px solid #EFEFEF;
								}
								
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:before {
										
									}
									
									
								
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul li {
										position: relative;
									}
								
								ul.megamenu li .sub-menu .content .hover-menu a {
									padding: 6px 20px 6px 20px;
									display: block;
									color: #666666;
								}
								
								
								
									ul.megamenu li .sub-menu .content .hover-menu li > a:hover {
										color: #000000;
										background: #f1f1f1;
										
									}
									
									
									
									
	/* Heading MegaMenu */
	
	#megaMenuToggle {
		display: none;
		cursor: pointer;
	}
	
		.megamenuToogle-wrapper {
			position: relative;
			z-index: 20;
			
		}

			.megamenuToogle-wrapper .container {
				color: #FFFFFF;
				font-size: 16px;
				line-height:36px;
				text-transform: uppercase;
			}
			
				.megamenuToogle-wrapper .container > div {
					float: left;
					width: 15px;
					margin: 2px 9px 0px 0px;
					margin-left: 10px;
				}
				
					.megamenuToogle-wrapper .container > div span {
						display: block;
						width: 100%;
						height: 2px;
						margin-top: 2px;
						background: #FFFFFF;
					}

/* Responsive
------------------*/

@media (max-width: 767px) {

	
	ul.megamenu {
			border: 1px solid #f1f1f1;
		}
	.responsive ul.contactus, .responsive .hotline-holder {margin: 0;}

	.responsive .megamenu-wrapper .menu-holder {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	
	.responsive .fixed-body .megamenu-pattern {
		margin-left: 0px!important;
		margin-right: 0px!important;
		margin-top: 15px;
	}

	.responsive .megamenu-wrapper .container {
			padding: 0px !important;
		}
	
	.responsive .megamenu-wrapper .container {
			width: 100%!important;
		}	
	
	.responsive ul.megamenu > li > a {
    color: #4B4B4B;
    display: block;
    font-size: 12px;
    font-weight: 400;
    height: 36px;
    line-height: 36px;
    padding-left: 10px!important;
    padding-right: 10px!important;
}


	
	/* MegaMenu Submenu */
	
	.responsive .megamenu-wrapper {
		display: none;
		background: #f4f5f4 !important;
		position: relative;
		margin: 0px;
	}
	
	

	
	.responsive ul.megamenu .sub-menu .content .border {
		display: none;
	}
	
	.responsive ul.megamenu .sub-menu .content .row {
		margin: 0px -20px;
	}
	
		.responsive ul.megamenu .sub-menu .content .row > div {
			margin-top: 20px;
			border-top: 1px solid #F0F0F0;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		
			.responsive ul.megamenu .sub-menu .content .row:first-child > div:first-child {
				margin-top: 0px;
				border-top: none;
				padding-top: 0px;
			}
			
}


@media (max-width: 767px) {
		.responsive .megamenu-wrapper .container {
			width: 100%!important;
		}	
        ul.megamenu > li > a strong {
						font-weight: normal;
					}

	.responsive #megaMenuToggle {
		background: #000000;
		display: inline-block !important;
		height: 36px;
		padding: 0;
		text-align: center;
		width: 36px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	
	.responsive .megamenu-pattern {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.responsive .standard-body #megaMenuToggle {
		margin: 0;
	}
	
	.responsive .standard-body .megamenu-pattern {
		margin: 0;
		border: 1px solid #ededed;
		margin-bottom: 20px;
	}
	
			
	.responsive .megamenu-wrapper {
		display: none;
		background: #fff !important;
		border-bottom: 1px solid #FFFFFF;
		position: relative;
		margin: 0;
	}
		
		.responsive ul.megamenu > li > a {
			color: #4B4B4B;
			display: block;
			font-size: 12px;
			font-weight: 400;
			height: 35px;
			line-height: 35px;
			padding-left: 20px;
			padding-right: 20px;
		}
	
	
		.responsive ul.megamenu > li {
			display: block;
			float: none !important;
			width: auto;
			background: none;
			border-top: 1px solid #f1f1f1;
			position: relative;
			margin: 0px;
			border-left: none;
		}
		
		.responsive ul.megamenu > li:first-child {
			border-top: none;
		}

			.responsive ul.megamenu > li > a {
				text-shadow: none;
				background: #ffffff;
				height: auto;
				padding: 0px 20px 0px 20px;
				border: none;
			}
			
			.responsive ul.megamenu > li > a:hover {
				color: #bababa;
			}
			
			.responsive ul.megamenu li .sub-menu .content a {
							color: #666666;
			}
			.responsive ul.megamenu li .sub-menu .content a:hover {
				color: #bababa;
			}
			
			.responsive ul.manufacturer li a {border: 1px solid #efefef!important;
										color: #666666!important;}
			
			.responsive ul.manufacturer li a:hover{color: #bababa!important; border: 1px solid #bababa!important;}
			
			
				
				.responsive ul.megamenu > li > a:before {
					display: none !important;
				}
			
			.responsive ul.megamenu > li.click:before, 
			.responsive ul.megamenu > li.hover:before {
				content: "\f067";
				font-family: FontAwesome;
				color: #4b4b4b;
				font-weight: normal;
				font-size: 12px;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 10;
				padding: 9px 17px 10px 30px;
			}
			
				.responsive ul.megamenu > li.active .close-menu {
					display: block;
					position: absolute;
					z-index: 10;
					top: 0;
					right: 1px;
					width: 85px;
					height: 100%;
					padding: 9px 0px 0px 40px;
					background: #ffffff;
					text-align: center;
					cursor: pointer;
					
				}
				
					.responsive ul.megamenu > li.active .close-menu:before {
						content: "\f068";
						font-family: FontAwesome;
						color: #bababa;
						font-weight: 400;
						font-size: 14px;
						
					}

			/* Submenu */
			
			.responsive .horizontal ul.megamenu > li > .sub-menu {
				width: 100% !important;
			}
			
				/* Hover Menu */
				
				.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
					display: block !important;
					margin: 5px 10px;
					width: auto;
					padding: 0px;
					position: static;
					left: 0;
					background: none;
					border: none;
					border-radius:         0px;
					-moz-border-radius:    0px;
					-webkit-border-radius: 0px;
					box-shadow:            none;
					-moz-box-shadow:       none;
					-webkit-box-shadow:    none;
				}
				
					.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:before {
						display: none;
					}
					
					.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:after {
						display: none;
					}
				
				.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu a.main-menu {
				}
				
					.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu a.main-menu:before {
						display: none;
					}
					
					.responsive .horizontal .visible {
						padding: 5px 0px 5px 0px !important;
					}
					
						.responsive .horizontal .visible > div {
							margin: 0px !important;
							border: none !important;
							padding: 0px 0px 0px 10px !important;
						}

}

